@import "tailwindcss";

html, body {
  width: 100%;
  background: #f5f5f5; 
   overflow-x: hidden;  /* sarkariresult light grey feel */
}

#root {
  max-width: 100%;
  padding: 20px 0;       /* TOP & BOTTOM space */
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 12s linear infinite;
}
/* SarkariResult style container */ 

/* ONE SOURCE OF TRUTH */
.site-container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .site-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
a {
  color: #1d4ed8;
}

a:visited {
  color: #800080;
}

a:hover {
  text-decoration: underline;
}


